{% extends 'right-push.html' %}

{% block breadcrumb %}
<section>
    <nav id="breadcrumb" class="container">
        <span class="breadcrumb-item"><a href="/">Home</a></span>
        {% if page.title == "Blog "%}
        <span class="breadcrumb-item">Blog</span>
        {% else %}
        <span class="breadcrumb-item"><a href="/blog">Blog</a></span>
        <span class="breadcrumb-item">{{ page.title }}</span>
        {% endif %}
    </nav>
</section>
{% endblock %}

{% block left-content %}
<div id="blog">

  <h1>{{ page.title }}</h1>

  <h3 class="blog-meta">{{ page.publicationDate }} — {{ page.author }}</h3>

  {{ page.content | safe }}

</div>
{% endblock %}

{% block blog-posts %}
{% endblock %}