{% extends 'layout.html' %}

{% block breadcrumb %}
    <section>
        <nav id="breadcrumb" class="container">
            <span class="breadcrumb-item"><a href="/">Home</a></span>
            <span class="breadcrumb-item">Community</span>
        </nav>
    </section>
{% endblock %}

{% block main %}
    <section class="container">
        <h1>Community</h1>

        <article>
            <div class="column-aside">
                <aside class="aside aside-medium">
                    <h2 class="text-left">Install Mayocat Shop on your server</h2>

                    <p>
                        <a class="btn" href="{{ site.download.link }}">
                            Download Mayocat Shop
                            <small>version {{ site.download.currentVersion }}</small>
                        </a>
                    </p>

                    <nav>
                        <a href="/installation-guide">Installation guide</a> <br>
                        <a href="/release-notes">Read the Release Notes </a> <br>
                    </nav>
                </aside>

                <aside class="aside aside-light">
                    <h2>Keep in touch</h2>

                    <!-- Begin MailChimp Signup Form -->
                    <form class="form-inline validate" action="http://mayocat.us3.list-manage2.com/subscribe/post?u=4eb673ab248638c69a2821589&amp;id=9cc13e43a7"
                          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
                        <input type="email" placeholder="Your e-mail" value="" name="EMAIL" class="email" id="mce-EMAIL" required>
                        <input type="submit" value="OK" class="btn" name="subscribe" id="mc-embedded-subscribe">
                    </form>
                    <!--End mc_embed_signup-->

                    <p>or follow us on <a href="http://twitter.com/MayocatShop">Twitter</a>or <a
                            href="http://github.com/mayocat/mayocat-shop/">GitHub</a></p>
                </aside>

                <aside>
                    {% if blocks['developer-links'] %}
                    {{ blocks['developer-links'].content | safe }}
                    {% endif %}
                </aside>
            </div>

            <div class="column-content">

                {{ page.content | safe }}

                <h2>Meet the contributors</h2>

                {% for contributor in blocks.contributors.people %}
                <div class="contributor-profile clear {% if loop.index % 2 == 1 %} pull-left {% else %} pull-right {% endif %}">
                    <img class="thumbnail pull-left" src="images/{{contributor.picture}}" alt="{{contributor.fullName}}">
                    <h3>{{contributor.fullName}}</h3>
                    <p>
                        {{contributor.title}} <br>
                        {% if contributor.github %}
                        <a target="_blank" href="https://github.com/{{contributor.github}}/"><i class="icon-github"></i></a>
                        {% endif %}
                        {% if contributor.linkedin %}
                        <a target="_blank" href="http://linkedin.com/{{contributor.linkedin}}"><i class="icon-linkedin"></i></a>
                        {% endif %}
                    </p>
                </div>
                {% endfor %}

            </div>
        </article>
    </section>
{% endblock %}