{% extends 'layout.html' %}

{% block breadcrumb %}
    <section>
        <nav id="breadcrumb" class="container">
            <span class="breadcrumb-item"><a href="index.html">Home</a></span>
            <span class="breadcrumb-item">Contact</span>
        </nav>
    </section>
{% endblock %}

{% block main %}
    <section class="container">
        <h1>Contact</h1>

        <article>

            <div class="column-content">

                <form id="contact-unit" method="POST">
                    <p class="contact-unit-alert success">
                        The message has been sent.
                    </p>

                    <p class="pull-right contact-unit-alert incomplete">
                        All the fields must be filled and the email must be a valid address.
                    </p>

                    <p class="pull-right contact-unit-alert error">
                        An error occured while sending your message, please retry later.
                    </p>

                    <div class="contact-unit-inputs">
                        <label>Name *</label>
                        <input type="text" name="name">

                        <label>E-mail *</label>
                        <input type="text" name="email">

                        <label>Message *</label>
                        <textarea name="message"></textarea>

                        <div class="text-center">
                            <input class="btn" type="submit" value="Send">
                        </div>
                    </div>
                </form>

            </div>
        </article>
    </section>
{% endblock %}