{% extends 'layout.html' %}

{% block title  %}
Mayocat Shop's documentation - {{page.title}}
{% endblock%}

{% block main %}
    <section class="container">

            <nav id="breadcrumb">
                <span class="breadcrumb-item"><a href="/index">Home</a></span>
                <span class="breadcrumb-item"><a href="/documentation">Documentation</a></span>
                <span class="breadcrumb-item">{{ page.title }}</span>
            </nav>

            <article class="doc-unit-content">

                {{ page.content | safe }}

            </article>
        </div>
    </section>
{% endblock %}