{% extends 'layout.html' %}

{% block title  %}
Mayocat Shop's documentation - {{page.title}}
{% endblock%}

{% block main %}
    <section class="container">
        <div id="doc-unit">
            <div class="doc-unit-menu">
                Basics
                <nav>
                    <a {% if path == '/documentation-basics'%}class="active"{%endif%} href="/documentation-basics">Learn the basics</a><br>
                    <a {% if path == '/documentation-theme'%}class="active"{%endif%} href="/documentation-theme">Configure your theme</a><br>
                    <a {% if path == '/documentation-images'%}class="active"{%endif%} href="/documentation-images">Manage images</a><br>
                    <a {% if path == '/documentation-cart'%}class="active"{%endif%} href="/documentation-cart">Add to cart</a><br>
                    <a {% if path == '/documentation-addons'%}class="active"{%endif%} href="/documentation-addons">Use addons data</a><br>
                    <a {% if path == '/documentation-payment'%}class="active"{%endif%} href="/documentation-payment">Setup your payment</a><br>
                    <a {% if path == '/documentation-localization'%}class="active"{%endif%} href="/documentation-localization">Localization</a><br>
                    <a {% if path == '/documentation-swag'%}class="active"{%endif%} href="/documentation-swag">Play with SWAG</a><br>
                </nav>

                Contexts
                <nav>
                    <a href="#">&#123;&#123;#page&#125;&#125;</a><br>
                    <a href="#">&#123;&#123;#product&#125;&#125;</a><br>
                    <a href="#">&#123;&#123;#products&#125;&#125;</a><br>
                    <a href="#">&#123;&#123;#image&#125;&#125;</a><br>
                    <a href="#">&#123;&#123;#cart&#125;&#125;</a><br>
                </nav>

                Expressions
                <nav>
                    <a href="#">&#123;&#123;title&#125;&#125;</a><br>
                    <a href="#">&#123;&#123;description&#125;&#125;</a><br>
                    <a href="#">&#123;&#123;include layout&#125;&#125;</a><br>
                    <a href="#">&#123;&#123;ressource&#125;&#125;</a><br>
                    <a href="#">&#123;&#123;includeTemplate&#125;&#125;</a><br>
                    <a href="#">&#123;&#123;message&#125;&#125;</a><br>
                    <a href="#">&#123;&#123;addon&#125;&#125;</a><br>
                    <a href="#">&#123;&#123;featured_collection&#125;&#125;</a><br>
                    <a href="#">&#123;&#123;unitPrice&#125;&#125;</a><br>
                    <a href="#">&#123;&#123;amountCompact&#125;&#125;</a><br>
                    <a href="#">&#123;&#123;url&#125;&#125;</a><br>
                    <a href="#">&#123;&#123;featuredImage&#125;&#125;</a><br>
                    <a href="#">&#123;&#123;isPath&#125;&#125;</a><br>
                    <a href="#">&#123;&#123;cart.numberOfItems&#125;&#125;</a><br>
                    <a href="#">&#123;&#123;items&#125;&#125;</a><br>
                    <a href="#">&#123;&#123;hasShipping&#125;&#125;</a><br>
                    <a href="#">&#123;&#123;shipping.amountCompact&#125;&#125;</a><br>
                    <a href="#">&#123;&#123;shippingOptions&#125;&#125;</a><br>
                    <a href="#">&#123;&#123;total&#125;&#125;</a><br>
                    <a href="#">&#123;&#123;contactFormSuccess&#125;&#125;</a><br>
                    <a href="#">&#123;&#123;contactForm&#125;&#125;</a><br>
                    <a href="#">&#123;&#123;contactField&#125;&#125;</a><br>
                </nav>

                <!-- Later
                APIs
                <nav>
                    <a href="#">?????</a><br>
                    <a href="#">?????</a><br>
                </nav>
                -->
            </div>

            <nav id="breadcrumb">
                <span class="breadcrumb-item"><a href="/index">Home</a></span>
                <span class="breadcrumb-item"><a href="/documentation">Documentation</a></span>
                <span class="breadcrumb-item">{{ page.title }}</span>
            </nav>

            <article class="doc-unit-content">

                {{ page.content | safe }}

            </article>
        </div>
    </section>
{% endblock %}