{% extends 'layout.html' %}

{% block title  %}
Mayocat Shop's documentation - {{page.title}}
{% endblock%}

{% block main %}
    <section class="container">
        <div id="doc-unit">
            <div class="doc-unit-menu">
                Basics
                <nav>
                    <a {% if path == '/documentation-basics'%}       class="active"{%endif%} href="/documentation-basics">         Learn the basics</a><br>
                    <a {% if path == '/documentation-theme'%}        class="active"{%endif%} href="/documentation-theme">          Configure your theme</a><br>
                    <a {% if path == '/documentation-addons'%}       class="active"{%endif%} href="/documentation-addons">         Use addons data</a><br>
                    <a {% if path == '/documentation-payment'%}      class="active"{%endif%} href="/documentation-payment">        Setup your payment</a><br>
                    <a {% if path == '/documentation-localization'%} class="active"{%endif%} href="/documentation-localization">   Localization</a><br>
                    <a {% if path == '/documentation-swag'%}class="active"{%endif%} href="/documentation-swag">Play with SWAG</a><br>
                </nav>

                Templates
                <nav>
                    <a href="#">home.html</a><br>
                    <a href="#">page.html</a><br>
                    <a href="#">product.html</a><br>
                    <a href="#">products.html</a><br>
                    <a href="#">cart.html</a><br>
                    <a href="#">post.html</a><br>
                    <a href="#">news.html</a><br>
                </nav>

                <nav>
                    <a href="#">Expression reference</a>
                    <br />
                    <br />
                    <a href="#">Cookbook</a>
                </nav>


                <!-- Later
                APIs
                <nav>
                    <a href="#">?????</a><br>
                    <a href="#">?????</a><br>
                </nav>
                -->
            </div>

            <nav id="breadcrumb">
                <span class="breadcrumb-item"><a href="/index">Home</a></span>
                <span class="breadcrumb-item"><a href="/documentation">Documentation</a></span>
                <span class="breadcrumb-item">{{ page.title }}</span>
            </nav>

            <article class="doc-unit-content">

                {{ page.content | safe }}

            </article>
        </div>
    </section>
{% endblock %}