{% extends 'layout.html' %}

{% block title  %}
Mayocat Shop's documentation - {{page.title}}
{% endblock%}

{% block main %}
    <section class="container">
        <div id="doc-unit">
            <div class="doc-unit-menu">
                Basics
                <nav>
                    <a {% if path == '/documentation-basics'%}       class="active"{%endif%} href="/documentation-basics">         Learn the basics</a><br>
                    <a {% if path == '/documentation-theme'%}        class="active"{%endif%} href="/documentation-theme">          Configure your theme</a><br>
                    <a {% if path == '/documentation-addons'%}       class="active"{%endif%} href="/documentation-addons">         Use addons data</a><br>
                    <a {% if path == '/documentation-payments'%}      class="active"{%endif%} href="/documentation-payments">        Setup your payment</a><br>
                    <a {% if path == '/documentation-localization'%} class="active"{%endif%} href="/documentation-localization">   Localization</a><br>
                    <a {% if path == '/documentation-swag'%}class="active"{%endif%} href="/documentation-swag">Play with SWAG</a><br>
                </nav>

                Templates
                <nav>
                    <a {% if path == '/documentation-template-index'%}       class="active"{%endif%} href="/documentation-template-index">         index.html</a><br>
                    <a {% if path == '/documentation-template-home'%}       class="active"{%endif%} href="/documentation-template-home">           home.html</a><br>
                    <a {% if path == '/documentation-template-product'%}       class="active"{%endif%} href="/documentation-template-product">     product.html</a><br>
                    <a {% if path == '/documentation-template-products'%}       class="active"{%endif%} href="/documentation-template-products">   products.html</a><br>
                    <a {% if path == '/documentation-template-collection'%}       class="active"{%endif%} href="/documentation-template-collection">   collection.html</a><br>
                    <a {% if path == '/documentation-template-cart'%}       class="active"{%endif%} href="/documentation-template-cart">           cart.html</a><br>
                    <a {% if path == '/documentation-template-page'%}       class="active"{%endif%} href="/documentation-template-page">           page.html</a><br>
                    <a {% if path == '/documentation-template-news'%}       class="active"{%endif%} href="/documentation-template-news">           news.html</a><br>
                    <a {% if path == '/documentation-template-article'%}       class="active"{%endif%} href="/documentation-template-article">     article.html</a><br>
                </nav>

                <nav>
                    <a href="#">Expression reference</a>
                    <br />
                    <br />
                    <a href="#">Cookbook</a>
                </nav>


                <!-- Later
                APIs
                <nav>
                    <a href="#">?????</a><br>
                    <a href="#">?????</a><br>
                </nav>
                -->
            </div>

            <nav id="breadcrumb">
                <span class="breadcrumb-item"><a href="/index">Home</a></span>
                <span class="breadcrumb-item"><a href="/documentation">Documentation</a></span>
                <span class="breadcrumb-item">{{ page.title }}</span>
            </nav>

            <article class="doc-unit-content">

                {{ page.content | safe }}

            </article>
        </div>
    </section>
{% endblock %}