<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta property="og:image" content="http://www.mayocat.org/images/cat.png" />
    <meta name="description" content="Mayocat Shop is the next generation of open source marketplace and e-commerce platform. With Mayocat Shop, developers and businesses can leverage a powerful and innovative platform to build great global marketplace and individual e-commerce websites and provide online merchants with a state of the art selling experience." />

    <title>{% block title %} {{ page.title }} {% endblock %}</title>

    {% block head %}
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">

    <link type="text/plain" rel="author" href="/humans.txt" />

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Scripts -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/scripts/main.js"></script>
    {% endblock %}
</head>
<body>

    <header class="container">
        <a href="/"><img src="/images/mayocat-shop.png" alt="Mayocat Shop"></a>

        <nav>
            <a href="/discover"       {% if path == '/discover' %}class="active"                 {% endif %}>Discover</a>
            <a href="/community"      {% if path == '/community' %}class="active"                {% endif %}>Community</a>
            <a href="/documentation"  {% if path.indexOf('/documentation') == 0 %}class="active" {% endif %}>Documentation</a>
            <a href="/showcase"       {% if path == '/showcase' %}class="active"                 {% endif %}>Showcase</a>
            <a href="/contact"        {% if path == '/contact' %}class="active"                  {% endif %}>Contact</a>
        </nav>

        <aside>
            <a target="_blank" href="https://github.com/mayocat/mayocat-shop">We're on GitHub</a>
        </aside>
    </header>

    {% block breadcrumb %}{% endblock %}

    {% block main %}
    <section class="container">
        {{ page.content | safe}}
    </section>
    {% endblock %}

    <footer>
        <nav class="container {% if path == '/' || path == '/contact' %}cat{% endif %}">
            <div class="footer-right">
                <a class="footer-item" href="/legal">Legal Notices</a>
                <span class="footer-item">Brought to you by Radchaps</span>
            </div>
            <a class="footer-item" href="/discover">Discover</a>
            <a class="footer-item" href="/community">Community</a>
            <a class="footer-item" href="/documentation">Documentation</a>
            <a class="footer-item" href="/showcase">Showcase</a>
            <a class="footer-item" href="/contact">Contact</a>
        </nav>
    </footer>

    <!-- GA -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-38730841-1', 'mayocat.org');
        ga('send', 'pageview');

    </script>

    <!-- Piwik -->
    <script type="text/javascript">
        var _paq = _paq || [];
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u=(("https:" == document.location.protocol) ? "https" : "http") + "://analytics.radchaps.com/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', 1]);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
            g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();

    </script>
    <noscript><p><img src="http://analytics.radchaps.com/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->
        {% block body-bottom %}

        {% endblock %}
    </body>
    </html>