{% extends 'layout.html' %}

{% block breadcrumb %}
    <section>
        <nav id="breadcrumb" class="container">
            <span class="breadcrumb-item"><a href="index.html">Home</a></span>
            <span class="breadcrumb-item">Showcase</span>
        </nav>
    </section>
{% endblock %}

{% block main %}
    <section class="container">
        <h1>Showcase</h1>

        <article>
            <div class="column-aside">
                
                <aside class="aside aside-highlight">
                    <h2 class="text-left">We’re looking for great web designers to use Mayocat Shop</h2>

                    <p>
                        We will support you as you develop your template.<br>
                        <a href="/contact">Contact us</a>
                    </p>
                </aside>

              
            </div>

            <div class="column-content">

                <div id="showcase-unit">

                    <p class="showcase-unit-item">
                        <img src="images/logo-productr.png" alt="productR">
                        productR <br>Marketplace<br>
                        <a target="_blank" href="http://www.productr.fr">Visit</a>
                    </p>

                    <p class="showcase-unit-item">
                        <img src="images/logo-doolittle.png" alt="Doolittle">
                        Doolishop <br>Doolittle magazine's e-shop<br>
                        <a target="_blank" href="http://www.doolittle.fr/shop">Visit</a>
                    </p>
                    <p class="showcase-unit-item">
                        <img src="images/logo-this-is-not-a-map.png" alt="This is not a map">
                        This is not a map <br> E-shop <br>
                        <a target="_blank" href="http://www.thisisnotamap.com">Visit</a>
                    </p>

                    <p class="showcase-unit-item">
                        <img src="images/logo-amphoria.png" alt="Amphoria">
                        Amphoria <br> SaaS e-commerce <br>
                        <a target="_blank" href="http://www.amphoria.fr">Visit</a>
                    </p>

                    <p class="showcase-unit-item">
                        <img src="images/logo-baglio-di-pianetto.png" alt="Baglio di Pianetto">
                        Baglio di Pianetto <br> E-shop <br>
                        <a target="_blank" href="http://www.bagliodipianetto.com">Visit</a>
                    </p>

                    <p class="showcase-unit-item">
                        <img src="images/logo-doble.png" alt="Doble Skateboards">
                        Doble Skateboards <br> E-shop <br>
                        <a target="_blank" href="http://www.dobleskateboards.com">Online soon</a>
                    </p>

                    <p class="showcase-unit-item">
                        <img src="images/logo-lebrec.png" alt="Léa Lebrec">
                        Léa Lebrec Créations Bijoux<br> E-shop <br>
                        <a target="_blank" href="http://www.llcreationbijoux.com">Visit</a>
                    </p>

                    <p class="showcase-unit-item">
                        <img src="images/logo-plus-treize.png" alt="Plus 13">
                        Plus 13 <br> E-shop<br>
                        <a target="_blank" href="http://plustreize.mayocatshop.com">Visit</a>
                    </p>

                    <p class="showcase-unit-item">
                        <img src="images/logo-mademoizelle-major.png" alt="Mademoizelle Major">
                        Mademoizelle Major <br> Website<br>
                        <a target="_blank" href="http://www.mademoiselle-major.com">Visit</a>
                    </p>

                    <p class="showcase-unit-item">
                        <img src="images/logo-aristide.png" alt="Aristide hotel">
                        Aristide hotel <br> Website<br>
                        <a target="_blank" href="http://www.aristide-hotel.com">Visit</a>
                    </p>


                </div>

            </div>
        </article>
    </section>
{% endblock %}